<p style="color: green"><%= notice %></p>
<div>
  <%= link_to "Hospitals", hospitals_path %>
  <%= link_to "Physicians",physicians_path %>
  <%= link_to "Appointments", appointments_path %>
</div>
<div>
<%= link_to "Back", appointments_path %>
</div>
<%= link_to "New patient", new_patient_path %>



<h1>Patients</h1>

<div id="patients">
  <% @patients.each do |patient| %>
    <%= render patient %>
    <p>
      <%= link_to "Show this patient", patient %>
    </p>
  <% end %>
</div>

