<div id="<%= dom_id appointment %>">
<p>
<strong>Patient name:</strong>
 <%= appointment.patient.name %>
 </p>
<p>
<strong>Physician name:</strong>
<%= appointment.physician.name %>
</p>
<p>
<strong>Hospital name:</strong>  
<%= appointment.hospital.name%>
</p>
<p>
<p>
    <strong>Appointment date:</strong>
    <%= appointment.appointment_date %>
</p>

</div>
